<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkEtOoDZqFoV2S-xuT_jJhniYad-Ra9Qg</string>
	<key>GCM_SENDER_ID</key>
	<string>352544119878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assetGuard</string>
	<key>PROJECT_ID</key>
	<string>assetguard-6407e</string>
	<key>STORAGE_BUCKET</key>
	<string>assetguard-6407e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352544119878:ios:68d6d7158e4d9bf032be47</string>
</dict>
</plist>